# Data Sampling

In [1]:
#Imports
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
import glob
from datetime import date

In [2]:
#Read csv file (change directory in your path or renamve csv to trips)
df_trips = pd.read_csv("../data/trips.csv")

In [3]:
cols_dropped = df_trips.dropna(inplace=False)

In [4]:
print("The original frame has",len(df_trips),"rows")
print(len(df_trips)-len(cols_dropped),"null values within the stream")
print("Remember: There are also null values in columns just because of privacy reasons - Actually we don't should drop them")

The original frame has 24988003 rows
12344331 null values within the stream
Remember: There are also null values in columns just because of privacy reasons - Actually we don't should drop them

In [5]:
# Sampling function
def sampleFile(sample_size,df):
    df_new = df.sample(frac = (sample_size/100))
    return df_new

In [6]:
#Sample df to 20% of original frame 
df_sample = sampleFile(20,df_trips)

In [7]:
df_sample.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
11871910,aeb44747d9cd5c4e810ed2c12631362d827ae29a,bb4ff740f6b2ffbe9aa3900f462c265eae88dadab4a095...,06/14/2017 01:15:00 PM,06/14/2017 01:30:00 PM,300.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,0.0,5.50,Cash,Top Cab Affiliation,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.899156,-87.626211,POINT (-87.6262105324 41.8991556134)
4278691,f3150e8061916e2cec7dad53f038f9d7cac01101,8e856e16163a85cee43d1ca81190e3b369b5a3724fe1c1...,03/06/2017 02:45:00 PM,03/06/2017 03:00:00 PM,1020.0,9.5,NaN,NaN,NaN,NaN,...,1.0,26.25,Cash,Chicago Independents,NaN,NaN,NaN,NaN,NaN,NaN
962707,3bc4f08fcf057a6c2bd8b7865c1978abca3616ec,1721f8d69b5f831e0c16c51510786ca43aaa367d23bec8...,01/16/2017 11:45:00 AM,01/16/2017 12:00:00 PM,392.0,2.2,NaN,NaN,NaN,NaN,...,0.0,9.80,Credit Card,303 Taxi,NaN,NaN,NaN,NaN,NaN,NaN
21548285,7235674388b12e378a2bc20ad7fb565ef6a9d317,61abb47c5869d156b0658c031a16ce139beb682fc30b5b...,11/04/2017 12:00:00 AM,11/04/2017 12:15:00 AM,1260.0,4.7,NaN,NaN,7.0,24.0,...,0.0,16.00,Cash,City Service,41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),41.901207,-87.676356,POINT (-87.6763559892 41.90120699410001)
16198848,4ab70436ec0c42ae288afb510213264fd3c6e5c3,ea73ddfdd7cafa796ab1e254ffe3240fb6936e6f390c27...,08/16/2017 12:45:00 PM,08/16/2017 01:00:00 PM,423.0,1.1,1.703108e+10,1.703132e+10,8.0,32.0,...,0.0,7.50,Credit Card,Blue Diamond,41.895033,-87.619711,POINT (-87.6197106717 41.8950334495),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)

In [8]:
df_sample.index

Int64Index([11871910,  4278691,   962707, 21548285, 16198848,  8924262,
            22077212, 17164929, 20329058,  9900260,
            ...
             5738892, 11814793, 20082323, 22666089,  6902014, 16779234,
            20592229,  5974540, 24022232, 10236182],
           dtype='int64', length=4997601)

In [9]:
#Write parquet of sample frame
frame = pa.Table.from_pandas(df_sample)
pq.write_table(frame, '../data/df_sample_{}.parquet'.format(date.today().strftime("%d_%m_%Y")))