In [9]:
def hex_to_geoboundary(value):
    if isinstance(value,str):
        return shapely.geometry.Polygon(h3.h3_to_geo_boundary(value, True))
    else:
        return np.nan

# Descriptive Analysis

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import shapely
from shapely import wkt
import h3
from datetime import date
import pyarrow.parquet as pq
import pyarrow as pa
#from fastparquet import write
import parquet

In [22]:
df = pd.read_parquet("../data/df_cleaned_18_06_2021.parquet")
df = df.iloc[0:100000]

In [23]:
df["PU_Centroid"] = gpd.points_from_xy(df["Pickup Centroid Latitude"], df["Pickup Centroid Latitude"])
df["DO_Centroid"] = gpd.points_from_xy(df["Dropoff Centroid Latitude"], df["Dropoff Centroid Latitude"])                                                   
#df = df.drop(columns = ["Pickup Centroid Latitude","Pickup Centroid Longitude","Dropoff Centroid Latitude","Dropoff Centroid Longitude"])
df["Trip Start Timestamp"] = pd.to_datetime(df["Trip Start Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df["Trip End Timestamp"] = pd.to_datetime(df["Trip End Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,PU_MONTH_NAME,PU_WEEKDAY_NAME,PU_YEAR,PU_MONTH,PU_WEEKDAY,PU_HOUR,PU_HOUR_OF_WEEK,PU_FOUR_HOURLY,PU_Centroid,DO_Centroid
10019694,0186acc0c8d50828e6dc5c9072ace58101e3e1b1,9a38858dc2ace73a20f89a976154131a733daf1f11e8d6...,2017-05-20 23:45:00,2017-05-20 23:45:00,360.0,1.30,1.703106e+10,1.703107e+10,6.0,7.0,...,May,Saturday,2017,5,5,24,144,5/5,POINT (41.93624 41.93624),POINT (41.92185 41.92185)
7792802,7d0830d9dbbd03a9e1b5d1d99cd41d99d7b8fb90,b4d59da1d7b8c002094752251906d9a3bcc6c7ea71a15f...,2017-04-21 22:15:00,2017-04-21 22:15:00,300.0,0.40,1.703108e+10,1.703108e+10,8.0,8.0,...,April,Friday,2017,4,4,23,119,5/5,POINT (41.90950 41.90950),POINT (41.90749 41.90749)
7493958,171ea5e4956fe55a58f9ec3be65238af8b79c4c2,38c32bfda2f77c2a57f33a9e3fcf7edb8e996f59bc2254...,2017-04-18 10:30:00,2017-04-18 10:45:00,379.0,1.00,1.703184e+10,1.703128e+10,32.0,28.0,...,April,Tuesday,2017,4,1,11,35,3/5,POINT (41.88099 41.88099),POINT (41.88530 41.88530)
5984763,a6da0037deae54685ba3a1a559ae6a33b9028bd9,e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...,2017-03-28 16:15:00,2017-03-28 16:15:00,317.0,0.96,1.703108e+10,1.703108e+10,8.0,8.0,...,March,Tuesday,2017,3,1,17,41,4/5,POINT (41.89197 41.89197),POINT (41.89503 41.89503)
4498023,58bc23a32b790e568d3c50bc38e5dd473cbc9fcf,cbdd490649df25aa771979bed8930b199d27a990ccdb42...,2017-03-09 14:30:00,2017-03-09 14:30:00,360.0,1.00,1.703128e+10,1.703184e+10,28.0,32.0,...,March,Thursday,2017,3,3,15,87,3/5,POINT (41.88530 41.88530),POINT (41.88099 41.88099)

In [26]:
df.columns

Index(['Trip ID', 'Taxi ID', 'Trip Start Timestamp', 'Trip End Timestamp',
       'Trip Seconds', 'Trip Miles', 'Pickup Census Tract',
       'Dropoff Census Tract', 'Pickup Community Area',
       'Dropoff Community Area', 'Fare', 'Tips', 'Tolls', 'Extras',
       'Trip Total', 'Payment Type', 'Company', 'Pickup Centroid Latitude',
       'Pickup Centroid Longitude', 'Pickup Centroid Location',
       'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude',
       'Dropoff Centroid  Location', 'PU_H3', 'DO_H3', 'PU_MONTH_NAME',
       'PU_WEEKDAY_NAME', 'PU_YEAR', 'PU_MONTH', 'PU_WEEKDAY', 'PU_HOUR',
       'PU_HOUR_OF_WEEK', 'PU_FOUR_HOURLY', 'PU_Centroid', 'DO_Centroid'],
      dtype='object')

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.max()

## Descriptive Analysis - Weather

In [ ]:
fields = ['datetime', 'Chicago']


temp_chicago1 = pd.read_csv('temperature.csv', skipinitialspace=True, usecols=fields)
temp_chicago = temp_chicago1.rename(columns={'Chicago': 'Temperature'})
temp_chi = temp_chicago[(temp_chicago["datetime"]>='2017-01-01')& (temp_chicago["datetime"]<='2017-12-31')]
temp_chi

In [ ]:
fields = ['datetime', 'Chicago']


hum_chicago1 = pd.read_csv('humidity.csv', skipinitialspace=True, usecols=fields)
hum_chicago = hum_chicago1.rename(columns={'Chicago': 'Humidity'})
hum_chi = hum_chicago[(hum_chicago["datetime"]>='2017-01-01')& (hum_chicago["datetime"]<='2017-12-31')]
hum_chi

In [ ]:
fields = ['datetime', 'Chicago']


wind_chicago1 = pd.read_csv('wind_speed.csv', skipinitialspace=True, usecols=fields)
wind_chicago = wind_chicago1.rename(columns={'Chicago': 'Wind_Speed'})
wind_chi = wind_chicago[(wind_chicago["datetime"]>='2017-01-01')& (wind_chicago["datetime"]<='2017-12-31')]
wind_chi

In [ ]:
fields = ['datetime', 'Chicago']


des_chicago1 = pd.read_csv('weather_description.csv', skipinitialspace=True, usecols=fields)
des_chicago = des_chicago1.rename(columns={'Chicago': 'Weather_Description'})
des_chi = des_chicago[(des_chicago["datetime"]>='2017-01-01')& (des_chicago["datetime"]<='2017-12-31')]
des_chi

In [ ]:
weather_hourly = temp_chi.merge(hum_chicago, how='left', on='datetime')
weather_hourly1 = weather_hourly.merge(wind_chi, how='left', on='datetime')
weather_hourly2 = weather_hourly1.merge(des_chi, how='left', on='datetime')
weather_hourly2.head()
#https://www.kaggle.com/selfishgene/historical-hourly-weather-data?select=weather_description.csv

## Descriptive Analysis - Temporal (not final)

In [ ]:
df['Date'] = pd.to_datetime(df['Trip Start Timestamp'], format='%m/%d/%Y %I:%M:%S %p')
df.index = df.Date
df_weekPerYear = pd.Series(df['Date'].resample('1W').count())

In [ ]:
df_weekPerYear

In [ ]:
import matplotlib.pyplot as plt

plt.bar(df_weekPerYear.index,df_weekPerYear)
plt.xlabel('Weeks')
plt.ylabel('Booking amount')
plt.title('Bookings per Week of Year')
plt.show()

In [ ]:
df_monthly = pd.Series(df['Date'].resample('1M').count())

In [ ]:
df['start_month'] = df['Trip Start Timestamp'].dt.month
df['end_month'] = df['Trip End Timestamp'].dt.month
df['startdtinh'] = df['Trip Start Timestamp'].dt.floor('d')
df['enddtinh'] = df['Trip End Timestamp'].dt.floor('d')

In [ ]:
df22= df.groupby('start_month')['Trip Seconds']
df33= df.groupby('end_month')['Trip Seconds']

In [ ]:
df22.head()

In [ ]:
df_monthly

In [ ]:
months =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov' ]
plt.bar(months,df_monthly) #Karlsruhe
plt.xlabel('Months')
plt.ylabel('Bookingamount')
plt.title('Bookings per Month')
plt.show()

In [ ]:
#check this and the method before
week = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

#array that will get filled in in the following
df_weekday = []

#add weekday to bike_set of Karlsruhe
for weekday in range(0,7):
    df_weekday.append([weekday,df['Date'].loc[(df['Date'].dt.dayofweek) == weekday].count()])
df_weekday = pd.DataFrame(df_weekday)

In [ ]:
df_weekday

In [ ]:
# Chart day of week data
plt.bar(week,df_weekday[1])

# Labeling
plt.xlabel('Days')
plt.ylabel('Number of Bookings')
plt.title('Bike Bookings per Day')
plt.show()

In [ ]:
dayhour = []

# Determine the amount of hourly trips
for hour in range(0,24):
    dayhour.append([hour,df['Date'].loc[(df['Date'].dt.hour) == hour].count()])
dayhour = pd.DataFrame(dayhour)

In [ ]:
# Bar chart the hour of day data and give labels
plt.bar(dayhour[0], dayhour[1])
plt.xlabel('Hour')
plt.ylabel('Amount of Bookings')
plt.title('Bike Bookings per Hour of Day')
plt.show()

In [ ]:
# total = []
# for i in range(len(dff)):
#     n = dff['']
#     dates.append(n)

dfc =  df[["Fare", "Tips","Tolls", "Extras"]]

avgfare = dff.groupby('start_month')['Fare'].mean()
avgtips = dff.groupby('start_month')['Tips'].mean()
avgtolls = dff.groupby('start_month')['Tolls'].mean()
avgextras = dff.groupby('start_month')['Extras'].mean()
months =avgfare.index

# totalperc1 = avgfare.merge(avgtips, how='left', on='start_month')
# totalperc2 = totalperc1.merge(avgtolls, how='left', on='start_month')
# totalperc = totalperc2.merge(avgextras, how='left', on='start_month')


Data = {'month': months,
        'fare': avgfare,
        'tips': avgtips,
        'tolls': avgtolls,
        'extras': avgextras
       }

dfcc = pd.DataFrame(Data,columns=['month','fare','tips','tolls','extras'])
dfcc
#figure size
dfcc.plot(
    x = 'month',
    kind = 'barh',
    stacked = True,
    title = 'Stacked Bar Graph',
    mark_right = True)

## Trip Duration along 1 hour Buckets and 4 hour buckets

In [ ]:
avgdura = dff.groupby('start_month')['Trip Seconds'].mean()
avgdura

In [ ]:
months =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov' ]
plt.bar(months,avgdura) #Karlsruhe
plt.xlabel('Months')
plt.ylabel('Average Trip Duration')
plt.title('Avg Trip Duration per Month')
plt.show()

In [ ]:
avgduraday = dff.groupby('startdtinh')['Trip Seconds'].mean()
months =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov' ]
plt.plot(avgduraday) 
plt.xlabel('Day')
plt.ylabel('Average Trip Duration')
plt.title('Avg Trip Duration per Day')
plt.show()

## Descriptive Analysis - Geographic

### H3 Geo Descriptive Analysis
Different Hexagonal Sizes

In [ ]:
h3_level = 8

### Convert Input Data to chosen h3 level

### Group to H3 Slices

In [27]:
def group_h3_slice(df,hour_feature_name,H3_feature_name,slices):
    df_grouped = df.copy()
    divider = 24/slices
    df_grouped["hour_slice"] = np.floor(df_grouped[hour_feature_name] / divider).astype(int)
    df_grouped = df_grouped.groupby(["hour_slice",H3_feature_name]).agg(count=(H3_feature_name,"count"),
                                                                       avgduration=("Trip Seconds","mean"))
    df_grouped["H3"] = df_grouped.index.get_level_values(1)
    df_grouped["geometry"] = df_grouped.apply(lambda x: hex_to_geoboundary(x["H3"]),axis=1)
    df_grouped["hour_slice"] = df_grouped.index.get_level_values(0)
    return gpd.GeoDataFrame(df_grouped, geometry='geometry')

gdf_sliced_pu = group_h3_slice(df,"PU_HOUR","PU_H3",3)
#gdf_sliced_do = group_h3_slice(df,"DO_HOUR","DO_H3",3)

In [28]:
gdf_sliced_pu.sample(10)

                            count  avgduration               H3  \
hour_slice PU_H3
2          872c21cd3ffffff     13   971.230769  872c21cd3ffffff
           872c21cd8ffffff    699  1846.082976  872c21cd8ffffff
1          872c21564ffffff     80   947.862500  872c21564ffffff
2          872c2118affffff   1103   768.312783  872c2118affffff
3          872c21cd8ffffff     56  1280.428571  872c21cd8ffffff
1          872c21011ffffff     18   904.111111  872c21011ffffff
2          872c2119cffffff  17750   685.759775  872c2119cffffff
1          872c21cd2ffffff      5  1762.800000  872c21cd2ffffff
2          872c21014ffffff     48   726.666667  872c21014ffffff
0          872c21196ffffff     48  1265.604167  872c21196ffffff

                                                                     geometry  \
hour_slice PU_H3
2          872c21cd3ffffff  POLYGON ((41.73451 41.75582, 41.73124 41.74346...
           872c21cd8ffffff  POLYGON ((41.77281 41.78725, 41.76955 41.77490...
1          872c21564ffffff  POLYGON ((41.81114 41.81865, 41.80787 41.80630...
2          872c2118affffff  POLYGON ((41.91690 41.93399, 41.91361 41.92166...
3          872c21cd8ffffff  POLYGON ((41.77281 41.78725, 41.76955 41.77490...
1          872c21011ffffff  POLYGON ((41.99372 41.99651, 41.99041 41.98420...
2          872c2119cffffff  POLYGON ((41.87851 41.90268, 41.87523 41.89035...
1          872c21cd2ffffff  POLYGON ((41.71536 41.74010, 41.71210 41.72773...
2          872c21014ffffff  POLYGON ((41.94598 41.98658, 41.94269 41.97427...
0          872c21196ffffff  POLYGON ((41.82097 41.85567, 41.81769 41.84333...

                            hour_slice
hour_slice PU_H3
2          872c21cd3ffffff           2
           872c21cd8ffffff           2
1          872c21564ffffff           1
2          872c2118affffff           2
3          872c21cd8ffffff           3
1          872c21011ffffff           1
2          872c2119cffffff           2
1          872c21cd2ffffff           1
2          872c21014ffffff           2
0          872c21196ffffff           0

In [ ]:
df_grouped_pu2 = df.groupby("PU_PART_OF_DAY","PU_H3").agg(avgduration=("Trip Seconds","mean"),
                                                          count=("Trip Total","count")
)
df_grouped_pu2

In [ ]:
df_grouped_pu = df.groupby("PU_H3").agg(avgduration=("Trip Seconds","mean"),
                                        avgdistance=("Trip Miles","mean"),
                                        avgpay=("Trip Total","mean"),
                                        count=("Trip Total","count"),
                                        revenue=("Trip Total","sum")
)
df_grouped_pu

In [ ]:
df_pu_grouped2["geometry"] = df_pu_grouped2.apply(lambda x: hex_to_geoboundary(x["PU_H3"]),axis=1)
df_pu_grouped2 = gpd.GeoDataFrame(df_pu_grouped2, geometry='geometry')
df_pu_grouped2

In [ ]:
dff6 = dff5.rename(columns={'Trip Seconds_y': 'Average_Duration', 'Trip Miles_y': 'Average_Distance', 'Trip Total_y': 'Average_Payment' })
dff6

## Write results in parquet file