In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import shapely
from shapely import wkt
import h3
from datetime import date
import pyarrow.parquet as pq
import pyarrow as pa
#from fastparquet import write
#from parquet

# Data Cleaning

In [18]:
df = pd.read_parquet("../data/df_sample_20_06_2021.parquet")
df["PU_Centroid"] = gpd.points_from_xy(df["Pickup Centroid Latitude"], df["Pickup Centroid Latitude"])
df["DO_Centroid"] = gpd.points_from_xy(df["Dropoff Centroid Latitude"], df["Dropoff Centroid Latitude"])                                                   
#df = df.drop(columns = ["Pickup Centroid Latitude","Pickup Centroid Longitude","Dropoff Centroid Latitude","Dropoff Centroid Longitude"])
df["Trip Start Timestamp"] = pd.to_datetime(df["Trip Start Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df["Trip End Timestamp"] = pd.to_datetime(df["Trip End Timestamp"],format = '%m/%d/%Y %I:%M:%S %p')
df.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,PU_Centroid,DO_Centroid
24269397,d2d1a4693233ee6f1ad5da1b7a197cbeb1046cbb,3d288150e092eea073ce7ba66c4c9ad75f8c572a62f080...,2017-12-16 14:30:00,2017-12-16 14:45:00,730.0,4.3,NaN,NaN,33.0,40.0,...,Credit Card,Flash Cab,41.857184,-87.620335,POINT (-87.6203346241 41.8571838585),41.792357,-87.617931,POINT (-87.6179313803 41.7923572233),POINT (41.85718 41.85718),POINT (41.79236 41.79236)
9683949,b132b099be18015b217bdacea667712b3582a56a,429921ecfc56b164a2f4edc3531f415194394704ab4aa1...,2017-05-17 06:00:00,2017-05-17 06:00:00,0.0,0.2,NaN,NaN,2.0,2.0,...,Cash,Checker Taxi Affiliation,42.001571,-87.695013,POINT (-87.6950125892 42.001571027),42.001571,-87.695013,POINT (-87.6950125892 42.001571027),POINT (42.00157 42.00157),POINT (42.00157 42.00157)
10019694,0186acc0c8d50828e6dc5c9072ace58101e3e1b1,9a38858dc2ace73a20f89a976154131a733daf1f11e8d6...,2017-05-20 23:45:00,2017-05-20 23:45:00,360.0,1.3,1.703106e+10,1.703107e+10,6.0,7.0,...,Cash,Dispatch Taxi Affiliation,41.936237,-87.656412,POINT (-87.6564115308 41.9362371791),41.921855,-87.646211,POINT (-87.6462109769 41.9218549112),POINT (41.93624 41.93624),POINT (41.92185 41.92185)
7792802,7d0830d9dbbd03a9e1b5d1d99cd41d99d7b8fb90,b4d59da1d7b8c002094752251906d9a3bcc6c7ea71a15f...,2017-04-21 22:15:00,2017-04-21 22:15:00,300.0,0.4,1.703108e+10,1.703108e+10,8.0,8.0,...,Cash,Dispatch Taxi Affiliation,41.909496,-87.630964,POINT (-87.630963601 41.9094956686),41.907492,-87.635760,POINT (-87.6357600901 41.9074919303),POINT (41.90950 41.90950),POINT (41.90749 41.90749)
7493958,171ea5e4956fe55a58f9ec3be65238af8b79c4c2,38c32bfda2f77c2a57f33a9e3fcf7edb8e996f59bc2254...,2017-04-18 10:30:00,2017-04-18 10:45:00,379.0,1.0,1.703184e+10,1.703128e+10,32.0,28.0,...,Credit Card,Flash Cab,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.885300,-87.642808,POINT (-87.6428084655 41.8853000224),POINT (41.88099 41.88099),POINT (41.88530 41.88530)

In [19]:
df_filtered = df.nsmallest(int(df.index.size * 0.999), "Trip Total", keep='first')
total_filter = df_filtered["Trip Total"].max()
min_total = df_filtered["Trip Total"].min()
print("Max Total:",total_filter)
print("Min Total:",min_total)

df_filtered = df.nsmallest(int(df.index.size * 0.999), "Trip Seconds", keep='first')
seconds_filter = df_filtered["Trip Seconds"].max()
min_seconds = df_filtered["Trip Seconds"].min()
print("Max Seconds:",seconds_filter)
print("Min Seconds:",min_seconds)

df = df.copy()[(df["Trip Total"] <= total_filter)&
                   (df["Trip Seconds"]<=seconds_filter)&
                   (df["Trip Seconds"]> 60)]
print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

Max Total: 125.1
Min Total: 0.0
Max Seconds: 7020.0
Min Seconds: 0.0
Kept 1.0 percent of data

In [20]:
#kick out values under 2$
print("0$ Total Trips:",df[df["Trip Total"]==0].index.size)
print("0$ Fare Trips:",df[df["Fare"]==0].index.size)


df = df.copy()[(df["Trip Total"] >= 2)&
                   (df["Fare"]>=2)]

print("New min Total: ",min(df["Trip Total"]))
print("New max Total: ",max(df["Trip Total"]))
print("New min Fare: ",min(df["Fare"]))
print("New max Fare: ",max(df["Fare"]))

print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

0$ Total Trips: 336
0$ Fare Trips: 409
New min Total:  2.0
New max Total:  125.1
New min Fare:  2.0
New max Fare:  125.0
Kept 1.0 percent of data

In [21]:
print("New min Total: ",min(df["Trip Total"]))
print("New max Total: ",max(df["Trip Total"]))

New min Total:  2.0
New max Total:  125.1

In [22]:
#For understanding 
df[["Trip Total","Tolls","Tips","Extras","Fare"]].sample(10)

          Trip Total  Tolls  Tips  Extras   Fare
8993840         9.50    NaN   0.0     0.0   9.50
14653801       10.50    0.0   0.0     0.0  10.50
7662051         7.00    0.0   0.0     0.0   7.00
4295535        10.00    NaN   0.0     1.0   9.00
10161352       12.00    0.0   3.0     0.0   9.00
11173862        4.00    0.0   0.0     0.0   4.00
19176435        9.25    0.0   2.0     1.0   5.75
17608953       14.00    NaN   0.0     0.0  14.00
14222327       12.25    0.0   2.0     1.0   8.75
6259679         7.40    NaN   0.0     0.0   7.40

In [23]:
#Kick out all values of December and 2018
df['start_month'] = df['Trip Start Timestamp'].dt.month
df['start_year'] = df['Trip Start Timestamp'].dt.year
df['end_month'] = df['Trip End Timestamp'].dt.month
df['end_year'] = df['Trip End Timestamp'].dt.year

df = df[(df['start_year'] == 2017 ) & (df['end_year'] == 2017) ]
df = df[(df['start_month'] !=12 ) & (df['end_month'] !=12) ]
print("Kept",np.round(df.index.size / df.index.size,4),"percent of data")

#Drop columns again
df.drop(columns=['start_month', 'start_year', 'end_month' , 'end_year'], inplace = True)

print()
#Min and Max Trip Start and end
print("New min start: ",min(df['Trip Start Timestamp']))
print("New min end: ",min(df['Trip End Timestamp']))
print("New min start: ",max(df['Trip Start Timestamp']))
print("New min end: ",max(df['Trip End Timestamp']))

Kept 1.0 percent of data

New min start:  2017-01-01 00:00:00
New min end:  2017-01-01 00:00:00
New min start:  2017-11-30 23:45:00
New min end:  2017-11-30 23:45:00

In [24]:
#Check null values in payment type and company
pay_verifier = df['Payment Type'].dropna()
print("Number of null values within column payment type: ",len(df)-len(pay_verifier))

com_verifier = df['Company'].dropna()
print("Number of null values within column payment type: ",len(df)-len(com_verifier))
print()
print("if 0, we don't have to drop something.")

Number of null values within column payment type:  0
Number of null values within column payment type:  0

if 0, we don't have to drop something.

In [25]:
#Miles have to be checked with the geo data

# H3 Conversion

In [26]:
#Converting Geo-Points to H3

def h3_conversion(value,h3_level):
    if isinstance(value,shapely.geometry.point.Point):
        return h3.geo_to_h3(value.y, value.x, h3_level)
    else:
        return np.nan

df["PU_H3"] = df.apply(lambda x: h3_conversion(x["PU_Centroid"],7),axis=1)
df["DO_H3"] = df.apply(lambda x: h3_conversion(x["DO_Centroid"],7),axis=1)
df["PU_H3"] = df["PU_H3"].replace("0",np.nan)
df["DO_H3"] = df["DO_H3"].replace("0",np.nan)
df

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,PU_Centroid,DO_Centroid,PU_H3,DO_H3
10019694,0186acc0c8d50828e6dc5c9072ace58101e3e1b1,9a38858dc2ace73a20f89a976154131a733daf1f11e8d6...,2017-05-20 23:45:00,2017-05-20 23:45:00,360.0,1.30,1.703106e+10,1.703107e+10,6.0,7.0,...,41.936237,-87.656412,POINT (-87.6564115308 41.9362371791),41.921855,-87.646211,POINT (-87.6462109769 41.9218549112),POINT (41.93624 41.93624),POINT (41.92185 41.92185),872c2118bffffff,872c2118affffff
7792802,7d0830d9dbbd03a9e1b5d1d99cd41d99d7b8fb90,b4d59da1d7b8c002094752251906d9a3bcc6c7ea71a15f...,2017-04-21 22:15:00,2017-04-21 22:15:00,300.0,0.40,1.703108e+10,1.703108e+10,8.0,8.0,...,41.909496,-87.630964,POINT (-87.630963601 41.9094956686),41.907492,-87.635760,POINT (-87.6357600901 41.9074919303),POINT (41.90950 41.90950),POINT (41.90749 41.90749),872c2119dffffff,872c2119dffffff
7493958,171ea5e4956fe55a58f9ec3be65238af8b79c4c2,38c32bfda2f77c2a57f33a9e3fcf7edb8e996f59bc2254...,2017-04-18 10:30:00,2017-04-18 10:45:00,379.0,1.00,1.703184e+10,1.703128e+10,32.0,28.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.885300,-87.642808,POINT (-87.6428084655 41.8853000224),POINT (41.88099 41.88099),POINT (41.88530 41.88530),872c21191ffffff,872c2119cffffff
5984763,a6da0037deae54685ba3a1a559ae6a33b9028bd9,e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...,2017-03-28 16:15:00,2017-03-28 16:15:00,317.0,0.96,1.703108e+10,1.703108e+10,8.0,8.0,...,41.891972,-87.612945,POINT (-87.6129454143 41.8919715078),41.895033,-87.619711,POINT (-87.6197106717 41.8950334495),POINT (41.89197 41.89197),POINT (41.89503 41.89503),872c2119cffffff,872c2119cffffff
4498023,58bc23a32b790e568d3c50bc38e5dd473cbc9fcf,cbdd490649df25aa771979bed8930b199d27a990ccdb42...,2017-03-09 14:30:00,2017-03-09 14:30:00,360.0,1.00,1.703128e+10,1.703184e+10,28.0,32.0,...,41.885300,-87.642808,POINT (-87.6428084655 41.8853000224),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),POINT (41.88530 41.88530),POINT (41.88099 41.88099),872c2119cffffff,872c21191ffffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22209691,244415af40850fdf7b6ef3ab2fc988ff14388d78,89dea8fe744d5636183373475f8bdbaa6e075692973f97...,2017-11-13 21:15:00,2017-11-13 21:30:00,420.0,1.90,1.703184e+10,1.703124e+10,32.0,24.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.892658,-87.652534,POINT (-87.6525344838 41.8926581076),POINT (41.88099 41.88099),POINT (41.89266 41.89266),872c21191ffffff,872c2119cffffff
1557193,9642b2a194eaf8d9f64cc3063ce0799b70fcd29e,8924bf83e8191ef2e12f8efda14e99c32465075c6334da...,2017-01-25 16:30:00,2017-01-25 16:45:00,743.0,1.18,1.703128e+10,1.703132e+10,28.0,32.0,...,41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),POINT (41.87926 41.87926),POINT (41.88499 41.88499),872c21191ffffff,872c2119cffffff
5281251,6c6530067b6fd4d8374635e799c12275b177e407,372ab351f35537e6d7a4ae2b3cd053341e83908e13d436...,2017-03-18 23:15:00,2017-03-18 23:15:00,540.0,1.10,1.703108e+10,1.703108e+10,8.0,8.0,...,41.907492,-87.635760,POINT (-87.6357600901 41.9074919303),41.900221,-87.629105,POINT (-87.6291051864 41.9002212967),POINT (41.90749 41.90749),POINT (41.90022 41.90022),872c2119dffffff,872c2119cffffff
13237511,151ecadae0ba8e48492d0c615fb67f20daaee5a4,a4d668e2c39ab79bec94fb1a87a5ecf5af0463b60abd05...,2017-07-03 15:45:00,2017-07-03 15:45:00,371.0,0.80,1.703184e+10,1.703132e+10,32.0,32.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),POINT (41.88099 41.88099),POINT (41.88499 41.88499),872c21191ffffff,872c2119cffffff
13075114,3ed00dba7b9aae7a93d2d3a700d3fe6f693e3967,1a0918b9bfea038d074d533672fa8d2a32a9b2628fbb34...,2017-06-30 19:45:00,2017-06-30 20:30:00,2340.0,15.50,1.703184e+10,1.703107e+10,32.0,7.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.929263,-87.635891,POINT (-87.6358909539 41.9292629902),POINT (41.88099 41.88099),POINT (41.92926 41.92926),872c21191ffffff,872c2118affffff

## Option 2: Fastparquet

# Data Preparation

In [27]:
def addDateCols(added_word, used_datetime,df_name): 

    #added word: Put your indivuword word to the string 

    #Month and weekday name
    df_name[added_word+'_MONTH_NAME'] = df_name[used_datetime].dt.month_name()
    df_name[added_word+'_WEEKDAY_NAME'] = df_name[used_datetime].dt.day_name()
    
    #Year
    df_name[added_word+'_YEAR'] = df_name[used_datetime].dt.year
    df_name[added_word+'_YEAR'] = df_name[added_word+'_YEAR'].astype(str)

    #Month numeric
    df_name[added_word+'_MONTH'] = df_name[used_datetime].dt.month
    df_name[added_word+'_MONTH'] = pd.to_numeric(df_name[added_word+'_MONTH'])
    
    #Weekday numeric
    df_name[added_word+'_WEEKDAY'] = df_name[used_datetime].dt.dayofweek
    df_name[added_word+'_WEEKDAY'] = pd.to_numeric(df_name[added_word+'_WEEKDAY'])

    #Day numeric
    df_name[added_word+'_HOUR'] = df_name[used_datetime].dt.hour
    df_name[added_word+'_HOUR'] = pd.to_numeric(df_name[added_word+'_HOUR'])+1
    
    #Day of week
    df_name[added_word+'_HOUR_OF_WEEK'] = (df_name[added_word+'_WEEKDAY']*24) + df_name[added_word+'_HOUR']
    
    #Fifth of the day
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([1,2,3,4,5]),'1/5', -1)
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([6,7,8,9,10]),'2/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([11,12,13,14,15]),'3/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([16,17,18,19,20]),'4/5', df_name[added_word+'_FOUR_HOURLY'])
    df_name[added_word+'_FOUR_HOURLY'] = np.where(df_name['PU_HOUR'].isin([21,22,23,24,25]),'5/5', df_name[added_word+'_FOUR_HOURLY'])
    
    return df_name

In [28]:
#Adding datetime columns
df_prepared = addDateCols("PU","Trip Start Timestamp",df)

In [29]:
df_prepared.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,PU_H3,DO_H3,PU_MONTH_NAME,PU_WEEKDAY_NAME,PU_YEAR,PU_MONTH,PU_WEEKDAY,PU_HOUR,PU_HOUR_OF_WEEK,PU_FOUR_HOURLY
10019694,0186acc0c8d50828e6dc5c9072ace58101e3e1b1,9a38858dc2ace73a20f89a976154131a733daf1f11e8d6...,2017-05-20 23:45:00,2017-05-20 23:45:00,360.0,1.30,1.703106e+10,1.703107e+10,6.0,7.0,...,872c2118bffffff,872c2118affffff,May,Saturday,2017,5,5,24,144,5/5
7792802,7d0830d9dbbd03a9e1b5d1d99cd41d99d7b8fb90,b4d59da1d7b8c002094752251906d9a3bcc6c7ea71a15f...,2017-04-21 22:15:00,2017-04-21 22:15:00,300.0,0.40,1.703108e+10,1.703108e+10,8.0,8.0,...,872c2119dffffff,872c2119dffffff,April,Friday,2017,4,4,23,119,5/5
7493958,171ea5e4956fe55a58f9ec3be65238af8b79c4c2,38c32bfda2f77c2a57f33a9e3fcf7edb8e996f59bc2254...,2017-04-18 10:30:00,2017-04-18 10:45:00,379.0,1.00,1.703184e+10,1.703128e+10,32.0,28.0,...,872c21191ffffff,872c2119cffffff,April,Tuesday,2017,4,1,11,35,3/5
5984763,a6da0037deae54685ba3a1a559ae6a33b9028bd9,e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...,2017-03-28 16:15:00,2017-03-28 16:15:00,317.0,0.96,1.703108e+10,1.703108e+10,8.0,8.0,...,872c2119cffffff,872c2119cffffff,March,Tuesday,2017,3,1,17,41,4/5
4498023,58bc23a32b790e568d3c50bc38e5dd473cbc9fcf,cbdd490649df25aa771979bed8930b199d27a990ccdb42...,2017-03-09 14:30:00,2017-03-09 14:30:00,360.0,1.00,1.703128e+10,1.703184e+10,28.0,32.0,...,872c2119cffffff,872c21191ffffff,March,Thursday,2017,3,3,15,87,3/5

### Deleting remaining null values

In [30]:
df_prepared = df_prepared[df_prepared['Trip Seconds'].notna()]
df_prepared = df_prepared[df_prepared['Trip Miles'].notna()]
df_prepared = df_prepared[df_prepared['Trip Total'].notna()]

## Option 1: Parrow:

In [31]:
#Write parquet of cleaned frame
df_compatible = df_prepared.drop(columns=["PU_Centroid","DO_Centroid"])
frame = pa.Table.from_pandas(df_compatible)
pq.write_table(frame, '../data/df_cleaned_{}.parquet'.format(date.today().strftime("%d_%m_%Y")))